{% extends "layout.html" %}

{% block body %}
            <section  class = "mb-0" style = "margin-left: 1%">
                    <h1>
                        <span class = "text-primary" style = "margin-left: -1.5%">Education</span>
                    </h1>
                    <p>
                        My current education (updated 29th October 2025)
                    </p>
            </section>

            <section class="resume-section" style = "justify-content: center; align-items:normal;">
                <div class="resume-section-content">
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">National University of Singapore</h3>
                            <div class="subheading mb-3">Bachelor of Science in Data Science and Analytics; 2nd Major in Philosophy; Minor in Quantitative Finance</div>
                            <p>GPA: 4.86/5</p>
                            <p>Relevant Modules: Statistics and Probability, Introduction to Quantitative Finance, Linear Algebra I</p>
                            <img class = "edu-img" src="{{ url_for('static', filename = 'assets/edu_img/nus.png') }}">
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2024 - May 2028</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Anglo-Chinese School (International)</h3>
                            <div class="subheading mb-3">International Baccalaureate</div>
                            <p>Score: 42/45</p>
                            <p>
                                Higher Level Modules: Mathematics Analysis and Approaches; Biology; Chemistry
                            </p>
                            <p>
                                Standard Level Modules: Economics; Chinese B; English Language and Literature
                            </p>
                            <img style = "width: 13%; margin-top: -20%; margin-left: 104%" class = "edu-img" src="{{ url_for('static', filename = 'assets/edu_img/ACS.png') }}">
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2019 - May 2021</span></div>
                    </div>
                </div>
            </section>
{% endblock %}
