{% extends "layout.html" %}

{% block body %}
            <section  class = "mb-0" style = "margin-left: 1%;">
                    <h1>
                        Experience
                    </h1>
                    <p>
                        My (very limited) work experience (updated 29th October 2025)
                    </p>
            </section>
            <div class="container" style = "margin-top: 5%">
                <div class="row">
                    <div class="col" style = "display: inline-block; height: 40vh; margin-bottom: 1%">
                        <a class = "proj-grid" data-bs-toggle="modal" data-bs-target="#Modal11" style="display: flex; position: relative; height: 100%">
                        <img class="grid-pic img-fluid" src="{{ url_for('static', filename='assets/grid_img/4SAB.png') }}">
                        <div style="text-decoration:none;">
                            <h1 class="grid-tit">
                                <p>
                                    4th Singapore Armoured Brigade
                                </p>
                            </h1>
                            <p  class = "grid-capt" style = "white-space: pre-line"><b>Finance and Logistics Clerical Assistant</b>
                                September 2022 - April 2024
                                Skills: Excel, Organization, Collaboration, Communication
                        </div>
                        </a>

<!-- Modal -->
            <div class="modal fade" id="Modal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Project 1</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis, libero ac viverra mollis, enim metus eleifend augue, ut venenatis erat justo sed tortor. Cras iaculis est tortor, sed efficitur elit tincidunt eget. Ut et porta risus. Vivamus consectetur lobortis urna sit amet finibus. Sed a lacinia ligula. Curabitur purus enim, placerat quis lacinia tincidunt, hendrerit id massa. Ut iaculis lacus et faucibus facilisis. Vivamus tincidunt, nunc eget porta mollis, augue tortor consequat magna, vitae rutrum tellus nisl non ante. Phasellus malesuada neque sed scelerisque luctus. Donec hendrerit pharetra purus quis blandit.
                            </p>
                            <p>
                                Vestibulum porta ante in justo auctor, eget semper erat tristique. Pellentesque bibendum, odio vel volutpat placerat, elit felis accumsan mauris, ac imperdiet odio diam id felis. Nullam at tristique ipsum. Ut mi enim, pulvinar sollicitudin venenatis vel, blandit a est. Integer sed laoreet tortor. Quisque egestas nunc commodo, auctor metus eu, ultrices nunc. Vestibulum sagittis risus arcu, imperdiet consectetur lorem fringilla a. Etiam ut rhoncus enim. Suspendisse pretium accumsan lectus dignissim pellentesque. Fusce a sapien ut orci vestibulum pellentesque sed eu risus. Ut auctor arcu eget semper fringilla. Quisque eleifend nibh faucibus augue vestibulum imperdiet.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis, libero ac viverra mollis, enim metus eleifend augue, ut venenatis erat justo sed tortor. Cras iaculis est tortor, sed efficitur elit tincidunt eget. Ut et porta risus. Vivamus consectetur lobortis urna sit amet finibus. Sed a lacinia ligula. Curabitur purus enim, placerat quis lacinia tincidunt, hendrerit id massa. Ut iaculis lacus et faucibus facilisis. Vivamus tincidunt, nunc eget porta mollis, augue tortor consequat magna, vitae rutrum tellus nisl non ante. Phasellus malesuada neque sed scelerisque luctus. Donec hendrerit pharetra purus quis blandit.
                            </p>
                            <img class="img-fluid" src = "{{ url_for('static', filename = 'assets/modal_img/11/modal11_p1.jpeg') }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-github" href = "#H">
                                <a class="social-icon" style = "color: white" href="#!"><i class="fab fa-github"></i></a>
                                Github Repo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                    <div class="col" style = "display: inline-block; height: 40vh; margin-bottom: 1%">
                        <a class = "proj-grid" data-bs-toggle="modal" data-bs-target="#Modal11" style="display: flex; position: relative; height: 100%">
                        <img class="grid-pic img-fluid" src="{{ url_for('static', filename='assets/grid_img/4SAB.png') }}">
                        <div style="text-decoration:none;">
                            <h1 class="grid-tit">
                                <p>
                                    4th Singapore Armoured Brigade
                                </p>
                            </h1>
                            <p  class = "grid-capt" style = "white-space: pre-line"><b>Finance and Logistics Clerical Assistant</b>
                                September 2022 - April 2024
                                Skills: Excel, Organization, Collaboration, Communication
                        </div>
                        </a>

<!-- Modal -->
            <div class="modal fade" id="Modal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Project 1</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis, libero ac viverra mollis, enim metus eleifend augue, ut venenatis erat justo sed tortor. Cras iaculis est tortor, sed efficitur elit tincidunt eget. Ut et porta risus. Vivamus consectetur lobortis urna sit amet finibus. Sed a lacinia ligula. Curabitur purus enim, placerat quis lacinia tincidunt, hendrerit id massa. Ut iaculis lacus et faucibus facilisis. Vivamus tincidunt, nunc eget porta mollis, augue tortor consequat magna, vitae rutrum tellus nisl non ante. Phasellus malesuada neque sed scelerisque luctus. Donec hendrerit pharetra purus quis blandit.
                            </p>
                            <p>
                                Vestibulum porta ante in justo auctor, eget semper erat tristique. Pellentesque bibendum, odio vel volutpat placerat, elit felis accumsan mauris, ac imperdiet odio diam id felis. Nullam at tristique ipsum. Ut mi enim, pulvinar sollicitudin venenatis vel, blandit a est. Integer sed laoreet tortor. Quisque egestas nunc commodo, auctor metus eu, ultrices nunc. Vestibulum sagittis risus arcu, imperdiet consectetur lorem fringilla a. Etiam ut rhoncus enim. Suspendisse pretium accumsan lectus dignissim pellentesque. Fusce a sapien ut orci vestibulum pellentesque sed eu risus. Ut auctor arcu eget semper fringilla. Quisque eleifend nibh faucibus augue vestibulum imperdiet.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis, libero ac viverra mollis, enim metus eleifend augue, ut venenatis erat justo sed tortor. Cras iaculis est tortor, sed efficitur elit tincidunt eget. Ut et porta risus. Vivamus consectetur lobortis urna sit amet finibus. Sed a lacinia ligula. Curabitur purus enim, placerat quis lacinia tincidunt, hendrerit id massa. Ut iaculis lacus et faucibus facilisis. Vivamus tincidunt, nunc eget porta mollis, augue tortor consequat magna, vitae rutrum tellus nisl non ante. Phasellus malesuada neque sed scelerisque luctus. Donec hendrerit pharetra purus quis blandit.
                            </p>
                            <img class="img-fluid" src = "{{ url_for('static', filename = 'assets/modal_img/11/modal11_p1.jpeg') }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-github" href = "#H">
                                <a class="social-icon" style = "color: white" href="#!"><i class="fab fa-github"></i></a>
                                Github Repo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style = "height: 20.67vh; ; margin-top: 5%">
                        <a class = "proj-grid" data-bs-toggle="modal" data-bs-target="#Modal11" style="display: flex; position: relative; height: 100%">
                        <img class="grid-pic img-fluid" src="{{ url_for('static', filename='assets/grid_img/4SAB.png') }}">
                        <div style="text-decoration:none;">
                            <h1 class="grid-tit2">
                                <p>
                                    4th Singapore Armoured Brigade
                                </p>
                            </h1>
                            <p  class = "grid-capt" style = "white-space: pre-line"><b>Finance and Logistics Clerical Assistant</b>
                                September 2022 - April 2024
                                Skills: Excel, Organization, Collaboration, Communication
                        </div>
                        </a>
                    </div>
                    <div class="col">
                        2 of 3
                    </div>
                    <div class="col">
                        3 of 3
                    </div>
                </div>
            </div>
{% endblock %}
