{% extends "layout.html" %}

{% block body %}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section">
                <div class = "about-layout">
                <div class="resume-section-content about-text">
                    <h1 class="mb-0">
                        Samuel
                        <span class="text-primary">GOH</span>
                    </h1>
                    <div class="subheading mb-5">
                         Singapore · Singapore 579663 · +65 9733 3140 ·
                        <a href="mailto:name@email.com">sjegoh82@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Put about me info here</p>
                    <div class="social-icons mb-5">
                        <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
                    <div class = "mb-2 about-image" style = "justify-content: flex-start;">
                        <div class = "dev-icons">
                            <span class="skill-chip">Tools</span>
                            <span class="skill-chip">Flask</span>
                            <span class="skill-chip">SQLAlchemy</span>
                            <span class="skill-chip">REST APIs</span>
                        </div>
                        <div class = "dev-icons">
                            <span class="skill-chip">Languages</span>
                            <span class="skill-chip">Flask</span>
                            <span class="skill-chip">SQLAlchemy</span>
                            <span class="skill-chip">REST APIs</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}
