{% extends "layout.html" %}

{% block body %}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Samuel
                        <span class="text-primary">GOH</span>
                    </h1>
                    <div class="subheading mb-5">
                        4 Bright Hill Crescent · Singapore 579663 · +65 9733 3140 ·
                        <a href="mailto:name@email.com">sjegoh82@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Put about me info here</p>
                    <div class="social-icons">
                        <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <div class = "resume-section-content" style = "margin-top: 3rem;">
                        <h1 class = "text-secondary">Skills</h1>
                        <div class = "dev-icons" style = "margin-top: 1rem; margin-left: 0.5rem">
                            <figure class="dev-icon">
                                <i class="fa-brands fa-python" aria-hidden="true"></i>
                                <figcaption>Python</figcaption>
                            </figure>
                            <figure class="dev-icon">
                                <i class="fa fa-database" aria-hidden="true"></i>
                                <figcaption>SQL</figcaption>
                            </figure>
                            <figure class="dev-icon">
                                <i class="fa-brands fa-java" aria-hidden="true"></i>
                                <figcaption>Java</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}
