{% extends "layout.html" %}

{% block body %}
            <section  class = "mb-0" style = "margin-left: 1%">
                    <h1>
                        Interest
                        <span class = "text-primary" style = "margin-left: -1%">/ Hobbies</span>
                    </h1>
                    <p>
                        My interests (updated 29th October 2025)
                    </p>
            </section>
            <section>
                Under Construction
            </section>
            </div>


{% endblock %}
