{% extends "layout.html" %}

{% block body %}
            <section  class = "mb-0" style = "margin-left: 1%">
                    <h1>
                        Proj
                        <span class = "text-primary" style = "margin-left: -1%">ects</span>
                    </h1>
                    <p>
                        My current projects (updated 29th October 2025)
                    </p>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="#h" style="display: flex; position: relative; height: 50%">
                            <img class="grid-pic img-fluid" src="{{ url_for('static', filename='assets/grid_img/col11.jpeg') }}">
                            <div class="grid-capt" style = "text-decoration:none;">Project 1</div>
                        </a>
                    </div>

                    <div class="col">
                        2 of 2
                    </div>
                    <div class="col">
                        2 of 2
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        1 of 3
                    </div>
                    <div class="col">
                        2 of 3
                    </div>
                    <div class="col">
                        3 of 3
                    </div>
                </div>
            </div>

            <script>
                
            </script>
{% endblock %}
